.messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
  }


  /* .chakra-modal__content {
    height: 100% !important;
  }
  .chakra-modal__content .chakra-modal__body{
    overflow: scroll !important;
    height: 400px !important;
  } */
  .chakra-modal__body {
    padding: 0px !important
  }

  .Mhover:hover{
    background-color:#38B2AC ;
    color:white ;
   
  }