.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  /* background-image: url('../../chatapp/src/Pages/image/bg.jpg'); */
  background-color: rgb(237 237 237);
  background-size: cover;
  background-position: center;
  color: black;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

.btn:hover {
  background-color: red;
}

.scroll::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

/* .tab:hover{
    background-color: #258c60;
    color: white;
  } */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.bellIconBox {
  position: relative;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  border-radius: 50%;
  margin-right: 10px;
  
}

.bellIconBox .IconInner {
  position: absolute !important;
  top: -10px;
  border-radius: 50%;
  right: 5px;
  font-weight: bold;
  color: red;

}

.chakra-modal__header{
  padding: 0% !important;
}

.chakra-menu__menu-list{
  padding: 0% !important;
}

:root{
    --fontF:"sans-serif"
  
}
.innerDiv{
  display: flex;
  justify-content: space-between !important;
}

.divInput{
  width: 100%; 
  margin-right: 0% !important;
}
.divPiker{
  /* position: absolute; */
  /* top:-[100%]; */
  height: 250px !important;
  /* width: 500px !important; */


  
}